/* ENITIRE PAGE */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }

  /* MENU - CENTER LOGO */
  .navbar-brand
  {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin:0 auto;
  }
  .navbar-toggle {
      z-index:3;
  }
  .navbar-brand>img {
      display: initial;
      margin-top: -2.0em;
  }

  /* MENU - STYLING*/
  .navbar-default {
    background-color: #333333;
    border-color: #333333;
    margin-top: 2em;
  }

  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Montserrat Light', 'Montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ed7d22;
  }
  .navbar-default .navbar-nav > li > a:active,
  .navbar-default .navbar-nav > li > a.active {
    color: #ed7d22;
    border: #ed7d22 3px solid;
    padding: 0.5em;
  }
  

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ed7d22;
    background-color: #333333;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ed7d22;
    background-color: #333333;
  }
  .navbar-default .navbar-toggle {
    border-color: #333333;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #333333;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #ed7d22;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ed7d22;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ed7d22;
      background-color: #333333;
    }
  }
  
  /* TYPOGRAPHY */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
  }
  h1 {
      font-size: 36px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
      font-size: 24px;
       color: #333;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  a {
      color: #3498db;
  }
  hr {
      border-color: #a0d3f1;
      border-width: 3px;
      max-width: 90%;
      box-align: center;
  }
  
  .passed {
    color: green;
    font-weight: bold;
  }
  .not-passed {
    color: #b7b7b7;
  }
  
  .badge a {
      color: #000000;
  }
  
  /* FORMS & ALERTS*/
  div[role=alert] {
      margin-top: 20px;
  }
  form {
      margin-top: 20px;
  }
  
  .row {
      margin-top: 20px;
  }
  .centered {
      text-align: center;
  }
  i.passed {
      color: green;
  }
  i.failed {
      color: red;
  }
  
  /* HEADER */
  #header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px -166px;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
  }
  #header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.31);
  }
  #header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  }
  #header .header-content .header-content-inner hr {
    margin: 30px auto;
  }
  #header .header-content .header-content-inner p {
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 50px;
  } @media (min-width: 768px) {
    #header {
      min-height: 100%;
    }
    #header .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
    }
    #header .header-content .header-content-inner {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    #header .header-content .header-content-inner h1 {
      font-size: 50px;
    }
    #header .header-content .header-content-inner p {
      font-size: 18px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  
  
  /* BUTTONS */
  .btn-blue {
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      border: none;
      border-radius: 300px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      background-color: #78bfe8;
      border-color: #78bfe8;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s;
      padding: 15px 30px;
  }
  .btn-blue:hover  {
      color: white;
      background-color: #24709c;
  }
  
  .btn-default{
      background-color: #03b1ce;
      color: #f8f8f8;
  }
  
  
  /* FOOTER */
  footer {
      background: url('../img/footer.png') repeat-x;
      min-height: 12%;
      position: fixed;
      bottom: 0%;
      width: 100%;
      /* margin: 0px; */
      padding: 0px;
  }
  
  a.payment 
  {
      outline: #000000;
  }
  
  /*General*/
  .maincontent
  {
    background-color: #F2F2F2; 
    width: 100%; 
    height: 100%; display: inline-block;
    background-color: #f2f2f2;
  }

  .link
  {
    color: #ED7D22; 
    display: inline-block; 
    text-decoration: underline;
    margin-left: 3px;
  }

  .link-space
  {
    width: 7px; 
    display: inline-block; 
    margin-left: 3px;
  }

  section[name=link-area]
  {
      margin-left: 1%;
  }

  .night-home-tour section
  {
    display: inline-block; 
    margin-left: 10px;
  }

  .link-current
  {
    color: #ED7D22; 
    display: inline-block; 
    text-decoration: underline; 
    margin-left: 3px; 
    font-weight: bold;
  }
  
  /*At Night (Jan)*/
  .night-page
  {
      background-color: #FFFFFF; 
      width: 70%; 
      height: auto; 
      margin-left: 220px;
  }
  
  .night-page h1
  {
      text-align: center; 
      font-family: Helvetica Neue; 
      font-weight: 1;
  }
  
  .night-page article
  {
      width: 70%; 
      height: 100%; 
      display: block; 
      margin-left: 15%;
  }
  
  .night-page article button
  {
      font-family: Helvetica Neue;
       width: 100px; 
      height: 30px; border:none; 
      font-size: 14px; 
      background-color: #ED7D22; 
      color: #FFFFFF;
      margin-left: 6%;
  }
  
  .night-page h2
  {
      font-family: Helvetica Neue; 
      font-weight: 1; 
      width: 90%; 
      font-size: 26px;
      margin-left: 6%;
  }
  
  #night-tour-images
  {
      width: 100%; 
      height: 40%; 
      display: block;
      margin-left: 6%;
  }
  
  #night-tour-images img
  {
      width: 180px; 
      height: 180px; 
      display: block;
  }
  
  #night-tour-images section p
  {
      text-align: center; 
      width: 180px; 
      background-color: #ED7D22; 
      color: #FFFFFF; 
      border: none;
  }
  
  .night-home-tour
  {
      background-color: #F2F2F2; 
      width: 750px; 
      height: 220px; 
      display: inline-block;
  }
  
  .night-home-tour section[name=info]
  {
      display: inline-block; 
      margin-left: 20px;
  }
  
  .night-home-tour section[name=info] h4
  {
      width: 400px; 
      display: inline-block;
  }
  
  .night-home-tour section[name=info] button
  {
      font-family: Helvetica Neue; 
      border: none;  
      background-color: #ED7D22; 
      color: #FFFFFF; 
      display: block;
      margin-left: 0;
  }
  
  .night-home-tour section[name=image]
  {
      display: inline-block; 
      width: 200px;
  }
  
  .night-home-tour section[name=image] img
  {
      width: 200px; 
      height: 140px; 
      margin-top: -90px;
  }
  
  p[name=home-tiny-space]
  {
    display: block; 
    height: 5px;
  }

  p[name=home-bottom-space]
  {
    display: block; 
    height: 40px;
  }

  p[name=home-page-space]
  {
    display: block; 
    height: 380px;
  }

  p[name=space-after-get-ticket]
  {
    height: 5px;
  }

  #night-tour-images section
  {
    display: inline-block;
  }

  #night-tour-images p
  {
    width: 20px; 
    display: inline-block;
  }

  p[name=night-tour-space]
  {
    height: 100px;
  }

  .night-ticket-info section[name=language]
  {
    margin-top: 3.6px;
  }

  .night-ticket-select button
  {
    margin-left: 6%;
  }

  section[name=hide-showDropDown]
  {
      display: none;
  }

  .night-dropdown-display section[name=position]
  {
    width: 60%; 
    margin-top: -100px; 
    display: inline-block
  }

  .night-language-box section[name=box]
  {
    margin-top: 20px; 
    margin-left:-2px;
  }

  section[name=night-ticket-bottom-space]
  {
    width: 70%; 
    height: 50px; 
    display: block; 
    margin-left: 15%; 
    background-color: white;
  }

  .night-language-box
  {
      font-family: Helvetica Neue; 
      width: 250px; 
      height: 160px; 
      background-color: #FFFFFF; 
      display: inline-block; 
      margin-left: -140px; 
      border: 1px black solid;
  }
  
  .night-language-box header
  {
      background-color: #FFCC99; 
      width: 100.1%; 
      height: 30px; 
      text-align: center; 
      margin-top: -20px;
  }
  
  .night-language-box h3
  {
      font-size: 16px; 
      font-weight: normal; 
      padding-top: 8px;
  }
  
  .night-language-info
  {
      width: 40px; 
      display: inline-block; 
      margin-left: 26px;
  }
  
  .night-language-info img
  {
      width: 60px; 
      height: 40px;
  }
  
  .night-language-info input
  {
      background-color: #ED7D22; 
      color: #FFFFFF; 
      border: none; 
      width: 60px; 
      margin-top: 8px;
  }
  
  #night-language-all
  {
      background-color: #ED7D22; 
      color: #FFFFFF; 
      margin-top: 3.5%; 
      height: 30px; 
      width: 100.1%; 
      border: none;
  }
  
  .night-all-ticket-display
  {
      display: inline-block; 
      width: 100%; 
      height: auto; 
      margin-left: 126px; 
      margin-top: -131px;
  }
  
  .night-ticket-display
  {
      margin-top: -28px; 
      height: 140px; 
      display: inline-block; 
      width: 100%; 
      font-family: 
      Helvetica Neue; 
      font-size: 20px;
  }
  
  .night-ticket
  {
      border: 1px black solid; 
      background-color: #FFFFFF; 
      width: 100%; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .night-ticket-info
  {
      text-align: center; 
      width: 20%; 
      border-right: 1px black solid; 
      display: inline-block;
  }
  
  .night-ticket-info img
  {
      width: 60px; 
      height: 40px; 
      margin-top: 7px;
  }
  
  .night-ticket-info p
  {
      font-size: 20px;
  }
  
  .night-ticket-select
  {
      margin-top: -54px; 
      display: block; 
      margin-left: 83.4%;
  }
  
  .night-ticket-select button
  {
      font-size: 15px; 
      width: 110px; 
      height: 30px; 
      color: white; 
      background-color: #ED7D22; 
      border-radius: 5%; 
      border: none; 
      margin-left: -66px;
  }
  
  input[name=family]
  {
      border: none;
       background: none; 
       display: inline-block; 
       width: 35px; 
       height: 35px; 
       font-size: 25px; 
       text-align: center; 
       margin-top: 30px;
  }
  
  input[name=regular]
  {
      border: none; 
      background: none; 
      display: inline-block;
      width: 35px; 
      height: 35px; 
      font-size: 25px; 
      text-align: center;
  }
  
  .regular-ticket-selection
  {
      width:100%; 
      height: 50px; 
      display: block; 
      margin-top: 10px; 
      display: block;
  }
  
  .family-ticket-selection
  {
      margin-top: 80px; 
      width:100%; 
      height: 70px; 
      display: block;
  }
  
  #night-ticket-name
  {
      font-size: 18px; 
      display: inline-block; 
      margin-left: 10px;
  }
  
  .regular-ticket-selection form
  {
      margin-top: -20%; 
      margin-left: 110%;
  }
  
  .regular-ticket-selection form p
  {
      width: 200px; 
      font-size: 15px; 
      text-align: center;
  }
  
  .regular-ticket-selection form input[type=submit]
  {
      margin-left: 50px; 
      font-family: Helvetica Neue; 
      background-color: #000000; 
      border-radius: 5%;
      width: 120px; 
      height: 40px; 
      color: #FFFFFF; 
      border: none; 
      font-size: 22px;
  }
  
  .total-ticket
  {
      display: block; 
      height: 20px; 
      border-top: 1px solid black; 
      margin-left: 10px;
  }
  
  .total-ticket p
  {
      display: inline-block; 
      width: 35%; 
      font-size: 24px;
  }
  
  .total-ticket section
  {
      display: inline-block; 
      width: 60%; 
      text-align: right;
  }
  
  .total-ticket section p
  {
      display: inline-block; 
      font-size: 24px;
  }
  
  .total-ticket section input
  {
      display: inline-block; 
      border: none; 
      background: none; 
      font-size: 24px; 
      width: 34%;
  }
  
  #night-ticket-button-minus
  {
      width: 35px; 
      height: 35px; 
      border-radius: 50%; 
      background-color: #000000; 
      border:none; 
      font-size: 20px; 
      color: #FFFFFF; 
      margin-left: 36px;
  }

  #night-ticket-button-minus-bottom
  {
      width: 35px; 
      height: 35px; 
      border-radius: 50%; 
      background-color: #000000; 
      border:none; 
      font-size: 20px; 
      color: #FFFFFF; 
      margin-left: 30px;
  }

  section[name=night-ticket-first-space]
  {
    width: auto; 
    height: 15px;
  }

  section[name=night-ticket-second-space]
  {
    width: auto; 
    height: 25px;
  }

  #night-ticket-button-plus
  {
      width: 35px; 
      height: 35px; 
      border-radius: 50%; 
      background-color: #000000; 
      border:none; 
      font-size: 20px; 
      color: #FFFFFF; 
      margin-left: 0px;
  }
  
  .night-dropdown-display
  {
      font-family: Helvetica Neue; 
      width: 100%; 
      background-color: #FFCC99; 
      margin-top: -63px; 
      display: block;
  }
  
  /*Cart (Jan)*/
  .cart-body
  {
      width: 500px; 
      height: 40%; 
      background-color: #F2F2F2;
      display: block; 
      border: 1px black solid; 
  }
  
  .cart-position
  {
      display: none; 
      margin-left: 67%; 
      margin-top: -9.2%;
  }

  .cart-tour-name
  {
      text-align: center; 
      width: 95%; 
      height: 25px; 
      border-bottom: 2px solid #F2F2F2; 
      background-color: #FFFFFF; 
      margin-left: 13px;
      font-family: Helvetica Neue; 
      font-size: 17px;
  }
  
  .cart-tour-name h1
  {
      display: inline-block; 
      margin-left: 120px; 
      font-size: 17px; 
      font-weight: 1; 
      margin-top: -11px;
  }
  
  .cart-tour-name form
  {
      display: inline-block; 
      margin-top: 0; 
      margin-left: 60px;
  }
  
  .cart-tour-name button
  {
      font-size: 13px; 
      width: 20px; 
      height: 20px; 
      border-radius: 40px; 
      border: none; 
      color: white;
  }
  
  .cart-tour-data
  {
      line-height: 30px; 
      width: 95%; 
      height: 25px; 
      background-color: #FFFFFF; 
      margin-left: 13px; 
      font-family: Helvetica Neue; 
      font-size: 15px;
  }
  
  .tour-language
  {
      text-align: center; 
      border-right: 2px solid #F2F2F2; 
      display: 
      inline-block; width: 80px;
  }
  
  .tour-date
  {
      text-align: center; 
      border-right: 2px solid #F2F2F2; 
      display: inline-block; 
      width: 170px;
  }
  
  .tour-guide-name
  {
      text-align: center; 
      display: inline-block;
  }
  
  .tour-guide-name p
  {
      margin-left: 10px;
  }
  
  .tour-time
  {
      text-align: center; 
      border-right: 2px solid #F2F2F2; 
      display: inline-block; 
      width: 100px;
  }
  
  .cart-tour-tickets
  {
      border-top: 2px solid #F2F2F2; 
      margin-top: 1px; 
      width: 95%; 
      height: 25px; 
      border-bottom: 2px solid #F2F2F2; 
      background-color: #FFFFFF; 
      margin-left: 13px; 
      font-family: Helvetica Neue; 
      font-size: 17px;
  }
  
  .cart-tour-tickets #ticket
  {
      width: 42.5%; 
      text-align: center; 
      display: inline-block; 
      margin-left: 13px; 
      font-family: Helvetica Neue; 
      font-size: 17px;
  }
  
  .cart-space
  {
      height: 25px;
  }
  
  .cart-submit-button
  {
      width: 100%; 
      margin-top: -30px;
  }
  
  .cart-submit-button input
  {
      height: 40px; width: 130px; 
      border-radius: 4%; 
      display:inline-block; color: #FFFFFF; 
      background-color: black; 
      border: none;
  }
  
  #total-cost
  {
      width: 95%; 
      height: 25px; 
      margin-left: 13px; 
      background-color: white; 
      display: white;
  }
  
  #total-cost-name
  {
      display: inline-block; width: 20%;
  }
  
  #total-cost-format
  {
      display: inline-block; 
      text-align: right; 
      width: 75%
  }
  
  button[name=cartButton]
  {
      margin-top: 4px; 
      margin-left: 50px; 
      width: 45px; 
      border: #ED7D22; 
      height: 45px; 
      background-color: white; 
      border-radius: 50%;
  }

  /*Review Page (Jan)*/
.review-section
{
    background-color: #FFCC99;
    margin-left: -12%;
    width: 63%;
    overflow: hidden;
}

.review-night-ticket
{
    background-color: #FFFFFF;
    width: 88%;   
    border: 1px solid black;
}

.review-night-ticket h3[name=total]
{
    font-size: 15px;
    font-weight: 1;
    margin-left: 10%;
    width: 85%;
    border-top: 1px solid rgb(212, 205, 205);
    text-align: right;
    height: 15px;
}

.review-night-ticket section[name=review-night-event-name]
{
    display: inline-block;
    width: 70%;
}

.review-night-ticket section[name=review-night-event-name] h3
{
    font-size: 15px;
    font-weight: 1;
    margin-left: 7%;
}

.review-price-outline
{
    float: right;
    background-color: rgb(212, 205, 205);
    width: 33%;
    margin-left: -100px;
}

.review-price-outline h1
{
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    margin-left: 2%;
    border-bottom: 1px solid black;
    width: 94%;
}

.review-price-outline p
{
    height: 2px;
}

.review-section p
{
    height: 5px;
}

.night-page p[name=review-space]
{
    height: 100px;
}

.review-section section
{
    margin-left: 4%;
}

.review-price-outline h6[name=price]
{
    float: right; 
    margin-top: -22px;
}

.review-night-ticket h3
{
    margin-top: -5px;
}

.review-night-ticket h3[name=event]
{
    font-weight: bold;
    margin-top: 5px;
}

.review-section h5[name=empty-cart]
{
    text-align: center;
}

.review-section p[name=review-space-before-article]
{
    height: 50px;
}

.review-price-outline button[name=checkout-btn]
{
    margin-left: 21%;
    width: 60%;
    height: 40px;
    font-size: 25px;
}

.night-page article[name=review-page]
{
    width: 80%;
    display: block;
}

h1[name=review-page-name]
{
    margin-left: 5%;
    font-size: 30px;
    border-bottom: 1px solid rgb(212, 205, 205);
    width: 51%;
    text-align: left;
}

img.jazzhome{
    max-width: 200px;
    max-height: 200px;
}

/* JAZZ PAGE */
#tickets-button {
    color: #fff;
    background-color: #ED7D22;
    border: none;
    width: 100%;
    font-weight: bold;
}
#section-break {
    border-color: #000;
    border-width: 1px;
}
#map {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 10px
}
section.jazz {
    background-color: #fff;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}
section.jazz h2 {
    text-align: center;
    margin-bottom: 1em;
}
section ul {
    margin-block-start: 0em;
    padding-inline-start: 0em;
} section ul.nav.nav-tabs {
    border-style: none;
} .nav-tabs>li {
    width: 25%;
    text-align: center;
}.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
    border-style: none;
} .nav-tabs>li>a, .nav-tabs>li>a:hover {
    border-style: none;
    color: #fff;
    background-color: #ED7D22;
}


/* BREADCRUMB */
.breadcrumb {
    background: none;
    margin-top: 10px;
} .breadcrumb>li>a {
    color: #ED7D22;
} 
.breadcrumb>li>a.active {
    font-weight: bold;
    text-decoration: underline;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: ">";
}

/*About page (Jan)*/
.about-page
{
    background-color: #FFFFFF; 
    width: 70%; 
    margin-left: 220px;
}

.about-page h1
{
    text-align: center; 
    font-family: Helvetica Neue; 
    font-weight: 1;
}

.about-page article
{
    width: 90%; 
    height: 100%; 
    display: block; 
    margin-left: 5%;
}

.about-page h2
{
    font-family: Helvetica Neue; 
    font-weight: 1;
    font-size: 22px;
}

p[name=about-page]
{
    height: 100px;
}

section[name=members]
{
    background-color: #FFCC99;
}

img[name=member]
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 5%;
}

section[name=member-info]
{
    margin-left: 15%;
    display: inline-block;
}
table td {
    font-size: inherit;
    font-weight: 300;
}
table th {
    font-size: 1.2em;
    font-weight: bold;
}

/*Home*/
img[name=home-image]
{
    height: 290px;
    width: 290px;
}

section[name=home-image-position]
{
    float: left;
    margin-left: 47px;
    width: 27.5%;
}

article[name=home-page-article]
{
    height: 100%;
    width: 100%;
}

button[name=home-image-name]
{
    background-color:#ED7D22;
    border: none;
    color: white;
    width: 290px;
    height: 40px;
    font-size: 27px;
}

div[name=home-page]
{
    background-color: #FFFFFF; 
    margin-top: 18%;
}

h1[name=home-page-heading]
{
    font-family: Helvetica Neue; 
    font-weight: 1;
    text-align: center; 
    margin-top: -13px;
}


table.dataTable thead {
    background-color: #000;
    color: #fff;
}
/*Facebook API (Jan)*/
.fb-comments
{
    margin-left: 10%;
}
h3{
    font-weight: bold;
    font-size: 20px;
    background-color: #FFCC99;
}


main {
    margin-top: 18%;
}