/* ENITIRE PAGE */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  padding-top: 20px;
}

section.a {
	padding: 50px 0;
    background-color: #f8f8f8;
}
section.b {
	padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

ul li.indent {
  padding-left: 20px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}
h1 {
    font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
    font-size: 24px;
	 color: #333;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
a {
    color: #3498db;
}
hr {
	border-color: #a0d3f1;
	border-width: 3px;
    max-width: 90%;
    box-align: center;
}

.passed {
  color: green;
  font-weight: bold;
}
.not-passed {
  color: #b7b7b7;
}

.badge a {
    color: #000000;
}

/* FORMS & ALERTS*/
div[role=alert] {
    margin-top: 20px;
}
form {
    margin-top: 20px;
}

.row {
    margin-top: 20px;
}
.centered {
    text-align: center;
}
i.passed {
	color: green;
}
i.failed {
	color: red;
}

/* HEADER */
#header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: 0px -166px;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
}
#header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.31);
}
#header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
#header .header-content .header-content-inner hr {
  margin: 30px auto;
}
#header .header-content .header-content-inner p {
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 50px;
} @media (min-width: 768px) {
  #header {
    min-height: 100%;
  }
  #header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  #header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  #header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* SIDEBAR */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right: 1px solid #e7e7e7;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

 Sidebar Styles 

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.sidebar-nav li a {
	padding: 10px 0px;
	color: #999999;
	text-decoration: none;
}
.sidebar-nav li a:hover {
	color: #337ab7;
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	font-size: 18px;
    line-height: 41px;
    padding-top: 10px;
    border-bottom: 0px solid #e7e7e7;
}
.sidebar-nav > .sidebar-brand a {
	position: relative;
    display: block;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* BUTTONS */
.btn-blue {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
	color: white;
    background-color: #78bfe8;
    border-color: #78bfe8;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
	padding: 15px 30px;
}
.btn-blue:hover  {
    color: white;
    background-color: #24709c;
}

.btn-default{
    background-color: #03b1ce;
    color: #f8f8f8;
}


/* HABITS WEEK OVERVIEW */
.day {
    text-align: center;
}
.current-day{
    text-align: center;
    background-color: #eaf9e4;
}

#profile-image1 {
    cursor: pointer;
    max-width: 50%;
    border: 2px solid #03b1ce;
}
    
.tital{ font-size:16px; font-weight:500;}
    
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}

/* FOOTER */
footer {
    background: url('../img/footer.png') repeat-x;
    min-height: 12%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    /* margin: 0px; */
    padding: 0px;
}